@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');



@import url("./reset.css");
@import url("./style/header.css");
@import url("./style/section-1.css");
@import url("./style/numbers-section.css");
@import url("./style/looking-talents.css");


:root {
    --base-white: #FFFFFF;
    --cinza: #667085;
    --vermelho: #8E2424;
    --cinza-texto: #3A404E;
    --cinza-texto-2: #101828;
    --fundo-rgba: rgba(142, 36, 36, 0.05);

    --fonte-principal: 'Inter';
}

body {
    font-size: 16px;
}

a {
    text-decoration: none;
}


